:root {
  --blue: #125688;
  --offwhite: #fafafa;
  --lightgrey: #edeeed;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: billabong, 'billabongregular';
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
}
h1 a {
  color: var(--blue);
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}

@font-face {
  font-family: 'billabongregular';
  src: url('//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot');
  src: url('//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#billabongregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
